*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper JAR
!gradle/wrapper/gradle-wrapper.jar

# App build
app/build/
*.apk
*.aab
